
.content{
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0em 0em 2em 0em ;
  margin:auto;
}

.content__description,.content__details,.content__list{
  color: #04146c;
  font-family: 'Asap', sans-serif;
  font-size:2rem;
  font-weight:400;
  line-height: 1.5em;
}


.content__questions{
  align-self: flex-start;
}