
.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  padding: 0em 1em 2rem 2em ;
}

.content__description,.content__details,.content__list{
  color: #04146c;
  font-family: 'Asap', sans-serif;
  font-size:2rem;
  font-weight:400;
  line-height: 1.5em;
}